<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf - Bootstrap WebJars</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/style.css} "/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="col-md-4 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
            <a href="#!" class="ms-md-2">
              <img th:src="@{images\mylogo.PNG}" height="100" />
            </a>
          </div>
        <!-- Container wrapper -->
        <div class="container justify-content-center justify-content-md-between">
          <!-- Left links -->
          <ul class="navbar-nav flex-row">
            <li class="nav-item me-2 me-lg-0">
              <a class="nav-link" href="#" role="button" data-mdb-toggle="sidenav" data-mdb-target="#sidenav-1">
                <i class="fas fa-bars me-1"></i>
                <span>Categories</span>
              </a>
            </li>
            <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
              <a class="nav-link" href="#">Bestsellers</a>
            </li>
            <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
              <a class="nav-link" href="@{/contact}">Inspirations</a>
            </li>
            <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
              <a class="nav-link" href="contact.html" th:href="@{/contact}">Blog</a>
            </li>
            <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
              <a class="nav-link" th:href="@{}">Contact</a>
            </li>
          </ul>
          <!-- Left links -->
    
          <button class="btn btn-outline-primary" data-mdb-ripple-color="dark" type="button">
            Download app<i class="fas fa-download ms-2"></i>
          </button>
        </div>
        <!-- Container wrapper -->
      </nav>
   <!--Main Navigation-->
<header class="mb-4">
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-white border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-4 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
    
          </div>
  
          <div class="col-md-4">
            <form class="d-flex input-group w-auto my-auto mb-3 mb-md-0">
              <input autocomplete="off" type="search" class="form-control rounded" placeholder="Search for" />
              <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>
  <header>
      <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h1>Welcome to ShadyTech Store</h1>
      <h2>Full-stack developer for Startups website, Apps &amp; more...</h2>
      <img th:src="@{images/dev1.jpg}" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
      <a href="#get-started" class="btn-get-started scrollto">Get Started</a>
      <div class="btns">
        <a href="#"><i class="fa fa-apple fa-3x"></i> Websites Development</a>
        <a href="#"><i class="fa fa-play fa-3x"></i> Mobile Development</a>
        <a href="#"><i class="fa fa-windows fa-3x"></i> Desktop Application Development</a>
      </div>
    </div>
  </section><!-- End Hero Section -->
  <section id="get-started" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">

        <h2>simple systeme fordiscount </h2>
        <p class="separator">Integer cursus bibendum augue ac cursus .</p>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="feature-block">

            <img src="svg\java-icon.svg" alt="img">
            <h4>Java Development</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <a href="#">read more</a>

          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="feature-block">

            <img src="svg\dartlang-official.svg" alt="img">
            <h4>Mobile Development</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <a href="#">read more</a>

          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="feature-block">

            <img src="svg/asteroid.svg" alt="img">
            <h4>build the app everyone love</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <a href="#">read more</a>

          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="screenshots" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">
        <h2>App Gallery</h2>
        <p class="separator">Integer cursus bibendum augue ac cursus .</p>
      </div>

      <div class="screens-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="images/1.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="images/2.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="assets/img/screen/3.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="assets/img/screen/4.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="assets/img/screen/5.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="assets/img/screen/6.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="assets/img/screen/7.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="assets/img/screen/8.jpg" class="img-fluid" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

  </section><!-- End Screenshots Section -->
 <!-- ======= Testimonials Section ======= -->
 <section id="testimonials" class="padd-section text-center">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center">

      <div class="col-md-8">

        <div class="testimonials-content">
          <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner" role="listbox">

              <div class="carousel-item  active">
                <div class="top-top">

                  <h2>Our Users Speack volumes us</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries.</p>
                  <h4>Kimberly Tran<span>manager</span></h4>

                </div>
              </div>

              <div class="carousel-item ">
                <div class="top-top">

                  <h2>Our Users Speack volumes us</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries.</p>
                  <h4>Henderson<span>manager</span></h4>

                </div>
              </div>

              <div class="carousel-item ">
                <div class="top-top">

                  <h2>Our Users Speack volumes us</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries.</p>
                  <h4>David Spark<span>manager</span></h4>

                </div>
              </div>

            </div>

            <div class="btm-btm">

              <ul class="list-unstyled carousel-indicators">
                <li data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carousel-example-generic" data-bs-slide-to="1"></li>
                <li data-bs-target="#carousel-example-generic" data-bs-slide-to="2"></li>
              </ul>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>

    <!-- Intro settings -->
    <style>
      /* Default height for small devices */
      #intro-example {
        height: 400px;
      }
  
      /* Height for devices larger than 992px */
      @media (min-width: 992px) {
        #intro-example {
          height: 600px;
        }
      }
    </style>
  
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </nav>
    <!-- Navbar -->
  
    <!-- Background image -->
    <div id="intro-example" class="p-5 text-center bg-image">
      <div class="mask" style="background-color: rgb(40, 40, 37);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Shop with confidence at ShadyTech</h1>
            <h5 class="mb-4">
              Best & offers in technology in Morogoro town
            </h5>
            <a class="btn btn-outline-light btn-lg m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A"
              role="button" rel="nofollow" target="_blank">See Offers</a>
            <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/"
              target="_blank" role="button">Join community</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container my-5">

    <footer class="text-white text-center text-lg-start" style="background-color: #23242a;">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">About company</h5>
  
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              voluptatum deleniti atque corrupti.
            </p>
  
            <p>
              Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
              molestias.
            </p>
  
            <div class="mt-4">
              <!-- Facebook -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-facebook-f"></i></a>
              <!-- Dribbble -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-dribbble"></i></a>
              <!-- Twitter -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-twitter"></i></a>
              <!-- Google + -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-google-plus-g"></i></a>
              <!-- Linkedin -->
            </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1">Search something</h5>
  
            <div class="form-outline form-white mb-4">
              <input type="text" id="formControlLg" class="form-control form-control-lg">
              <label class="form-label" for="formControlLg" style="margin-left: 0px;">Search</label>
            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 48.8px;"></div><div class="form-notch-trailing"></div></div></div>
  
            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Morogoro, IPO IPO, Pochinene Bar</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">ShadyTech@gmail.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 255 714 8675 76</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 255 743 2953 74</span>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Opening hours</h5>
  
            <table class="table text-center text-white">
              <tbody class="font-weight-normal">
                <tr>
                  <td>Mon - Thu:</td>
                  <td>8am - 9pm</td>
                </tr>
                <tr>
                  <td>Fri - Sat:</td>
                  <td>8am - 1am</td>
                </tr>
                <tr>
                  <td>Sunday:</td>
                  <td>9am - 10pm</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="#">ShadyTech.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    
  </div>
</body>
</html>